page-register {
  .mainLogo
  {
    margin-top: 50px;
  }

  .info
  {
    width: 100%;
    margin-top: 10px;
  }

  .client
  {
    width: 80%;
    padding: 10px;
    border-radius: 13px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    border: 1px solid #3ba2dc;
    color: #333;
  }

  .title
  {
    color:#3ba2dc;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .titleImg
  {
    width: 40%;
    margin: auto;
  }

  .regButton
  {
    margin-top: 20px;
    background-color:#ffd000;
    width: 80%;
  }

  .textWhite
  {
    border-radius:0px !important;
    padding: 12px;
  }

}
