page-main {
  .greenLine
  {
    width: 100%;
    height: 3px;
    background-color: #ffd000;
    margin-top: -4px;
  }

  .registerBtn
  {
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }

  .mainButtons
  {
    width: 100%;
    overflow: hidden;
  }

  .mainButtonsRows
  {
    width: 90%;
    overflow: hidden;
    margin:auto;
    margin-top: 20px;
  }

  .mainButtonsRowLeft
  {
    float: left;
    width: 47%;
  }

  .mainButtonsRowRight
  {
    float: right;
    width: 47%;
  }

  .nextLesson
  {
    text-align: center;
    color:white;
    direction: rtl;
  }
}
