<!--
  Generated template for the ClasssignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->






<ion-content padding>
    <back-button></back-button>

    <div class="topRightCorner" (click)="OpenContactModal()">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
    </div>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="mainTitle" >
        <img src="images/subscribe.png" width="100%"/>
    </div>
    <div class="selectInfo">
        <select class="form-control" [(ngModel)]="info.professionselect">
            <option value="">בחירת מקצוע</option>
            <option [value]="row.id" *ngFor="let row of professionArray">{{row.title}}</option>
        </select>

        <select class="form-control" [(ngModel)]="info.branchselect">
            <option value="">בחירת סניף</option>
            <option [value]="row.id" *ngFor="let row of brancesArray">{{row.title}}</option>
        </select>


        <ion-grid>
            <ion-row justify-content-start>

                <ion-col col-6 col-sm>
                    <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
                        <div style="color: #ffffff; text-align:right; direction: rtl;" >עד: </div>
                        <input type="date" [min]="todaydate" class="form-control" [(ngModel)]="info.class_end_date">
                    </div>
                </ion-col>

                <ion-col col-6 col-sm>
                    <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
                        <div style="color: #ffffff; text-align:right; direction: rtl;" >מ: </div>
                        <input type="date" [min]="todaydate" class="form-control" [(ngModel)]="info.class_date">
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>




        <button ion-button full class="regButton" (click)="searchClass()" >חיפוש</button>
    </div>


    <div *ngIf="searchArray.length > 0" class="MT20">

        <div class="mainRow1" *ngFor="let row of searchArray let i=index">
            <div class="rowDiv">
                <div class="Title1">{{row.title}} | {{row.class_total_hours}} שעות</div>
                <div class="Title1">{{row.class_date}} | {{row.class_hour}}</div>

                <div class="Date1">
                    <button ion-button small type="button" (click)="registerUserToClass(row)" [ngStyle]="{
                'background-color':row.already_signup == '0' && row.max_quan_reached == 0 ? 'green' : '#ccc'}">
                        <span *ngIf="row.already_signup == 0 && row.max_quan_reached == 0">הרשמה</span>
                        <span *ngIf="row.already_signup == 1">רשום</span>
                        <span *ngIf="row.max_quan_reached == 1 && row.already_signup == 0">מלא</span>
                    </button>
                </div>
            </div>
        </div>

        <!--
        <div class="Lessons" *ngFor="let row of searchArray let i=index">
            <div class="Status" >

                <button ion-button small type="button" (click)="registerUserToClass(row)" [ngStyle]="{
                'background-color':row.already_signup == '0' && row.max_quan_reached == 0 ? 'green' : '#ccc'}">
                    <span *ngIf="row.already_signup == 0 && row.max_quan_reached == 0">הרשמה</span>
                    <span *ngIf="row.already_signup == 1">רשום</span>
                    <span *ngIf="row.max_quan_reached == 1 && row.already_signup == 0">מכסה</span>
                </button>
            </div>
            <div class="Time">
                <button ion-button small color="primary" type="button"> {{row.class_hour}}</button>
            </div>
            <div class="Date">
                <button ion-button small color="primary" type="button"> {{row.class_date}}</button>
            </div>
            <div class="Title">
                <button ion-button small color="primary" style="" type="button"> {{row.title}}</button>
            </div>
        </div>

        -->
    </div>



</ion-content>

<ion-footer>
    <footer></footer>
</ion-footer>