<!-- Generated template for the BackButtonComponent component -->
<div>
    <div class="headerLeftIcon" (click)="backButtonClick()">
        <ion-icon name="ios-arrow-back" style="margin-left: 6px;"></ion-icon>
        <div>חזור</div>
    </div>
</div>
