<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>פרטי תלמיד</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->

<ion-content>
  <back-button></back-button>

  <div class="mainLogo" align="center">
    <img src="images/logo.png" style="width:50%; margin: auto">
  </div>
  <div class="info" align="center">
    <div class="title"></div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="student_name" [(ngModel)]="userProfileArray.student_name" required  placeholder="הכנס שם תלמיד"><br>
      </div>

      <div class="form-group">
        <input type="tel" class="form-control textWhite"  name="phone" [(ngModel)]="userProfileArray.phone" required  placeholder="הכנס טלפון"><br>
      </div>


      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="city" [(ngModel)]="userProfileArray.city" required  placeholder="הכנס עיר"><br>
      </div>

      <div class="form-group">

        <select id="schoolgrade" class="form-control"  name="schoolgrade" [(ngModel)]="userProfileArray.schoolgrade" required >
          <option value="" selected>בחירת כיתה</option>
          <option *ngFor="let item of schoolgradeArray let i=index" [value]="item.id" >{{item.title}}</option>

        </select>
      </div>

      <div class="form-group" >
        <select id="teachinglevel" class="form-control"  name="teachinglevel" [(ngModel)]="userProfileArray.teachinglevel" required >
          <option value="" selected>בחירת רמת לימוד</option>
          <option *ngFor="let item of teachinglevelArray let i=index" [value]="item.id" >{{item.title}}</option>
        </select>
      </div>

      <div class="form-group" >
        <select id="branch_id" class="form-control"  name="branch_id" [(ngModel)]="userProfileArray.branch_id" required >
          <option value="" selected>בחירת סניף</option>
          <option *ngFor="let item of branchesArray let i=index" [value]="item.id" >{{item.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="scool_name" [(ngModel)]="userProfileArray.scool_name" required  placeholder="* הכנס שם בית ספר"><br>
      </div>

      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="parent_name" [(ngModel)]="userProfileArray.parent_name" required  placeholder="* הכנס שם הורה"><br>
      </div>

      <div class="form-group">
        <input type="tel" class="form-control textWhite"  name="parent_phone" [(ngModel)]="userProfileArray.parent_phone" required  placeholder="* הכנס טלפון הורה"><br>
      </div>


      <button ion-button class="regButton" color="secondary" [disabled]="!f.valid" type="submit">עדכן</button>
    </form>
  </div>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>