page-previoustickets {

  .Types
  {
    display: flex;
    margin-top: -10px;
    margin-bottom:10px;
  }

  .typeLeft
  {
    flex: 1;
  }

  .typeRight
  {
    flex: 1;
  }


  .buttonColor1
  {
    background-color:#2d2d2d ;
  }

  .buttonColor2
  {
    background-color:#4885ed;
  }

  .Types button
  {
    width:97%;
  }

  .mainRow1
  {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
    background-color:  #1e97e1;
    color: white;
    direction: rtl;
  }

  .Title1
  {
    width: 65%;
    float: right;
    padding: 5px;
    text-align: right;
  }

  .Date1
  {
    float: left;
    margin-left: 1%;
    width: 30%;
    text-align: left;
    padding: 5px;
  }

  .rowDiv
  {
    overflow: hidden;
    width: 100%;
    direction: rtl;
    padding:0px 6px;
  }

  .Status1
  {
    float: right;
    margin-left: 1%;
    width: 45%;
    padding: 5px;
    text-align: right;
  }

  .regButton
  {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .Hour1
  {
    float: left;
    width: 45%;
    padding:5px;
    text-align: left;
  }
}
