<!--<ion-header>-->

<!--<ion-navbar>-->
<!--<ion-title>פרטי תלמיד</ion-title>-->
<!--</ion-navbar>-->

<!--</ion-header>-->

<ion-content>
  <back-button></back-button>

  <div class="mainLogo" align="center">
    <img src="images/logo.png" style="width:50%; margin: auto">
  </div>

  <div class="Types" >
    <div class="typeRight" (click)="changeType(2)">
      <button ion-button [ngClass]="{'buttonColor1' : (Type == 2), 'buttonColor2':(Type == 1)}">חיובים</button>
    </div>
    <div class="typeLeft" (click)="changeType(1)">
      <button ion-button   [ngClass]="{'buttonColor1' : (Type == 1), 'buttonColor2':(Type == 2)}" >כרטיסיות</button>
    </div>
  </div>

  <div id="info" align="center">

    <div *ngIf="Type == 1">

      <div class="MT20" *ngIf="userTicketsArray.length == 0">
        לא נמצאו כרטיסיות
      </div>

      <div class="mainRow1" *ngFor="let row of userTicketsArray let i=index">
        <div class="rowDiv">
          <div class="Title1">תאריך כרטיסיה :  {{row.ticket_date}}</div>
        </div>
        <div class="rowDiv">
          <div class="Status1">12 ניקובים</div>
          <div class="Hour1"> {{row.created_at}} </div>
        </div>
      </div>

    </div>

    <div *ngIf="Type == 2">

      <div class="MT20" *ngIf="paymentsArray.length == 0">
        לא נמצאו חיובים
      </div>

      <div class="mainRow1" *ngFor="let row of paymentsArray let i=index">
        <div class="rowDiv">
          <div class="Title1" *ngIf="row.class">  {{row.class[0].title}} | {{row.class[0].profession}} | {{row.class[0].branch}}</div>
          <div class="Title1" *ngIf="row.class">  {{row.class[0].class_total_hours}} שעות</div>
          <div class="Title1">  {{paymentMethod[row.payment_method]}} </div>
        </div>
        <div class="rowDiv">
          <div class="Hour1">  {{row.created_at}} </div>
        </div>
      </div>

    </div>


  </div>




</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>