<!--
  Generated template for the ClasssignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content padding>
   <!-- <back-button></back-button> -->


  <div>
    <div class="headerLeftIcon" (click)="backButtonClick()">
      <ion-icon name="ios-arrow-back" style="margin-left: 6px;"></ion-icon>
      <div>חזור</div>
    </div>
  </div>



  <div class="mainLogo" align="center">
    <img src="images/logo.png" style="width:50%; margin: auto">
  </div>

  <div class="mainTitle" >
    <img src="images/subscribe.png" width="100%"/>
  </div>

  <div  *ngIf="!showFieldsdiv" (click)="showFieldsSearch()">
    <ion-icon name="search" style="font-size:30px;"></ion-icon>
  </div>

  <div id="fieldsSearch" *ngIf="showFieldsdiv">
    <div class="selectInfo">
      <!--<select class="form-control" [(ngModel)]="info.professionselect">-->
        <!--<option value="">בחירת מקצוע</option>-->
        <!--<option [value]="row.id" *ngFor="let row of professionArray">{{row.title}}</option>-->
      <!--</select>-->

      <select class="form-control" [(ngModel)]="info.branchselect">
        <option value="">בחירת סניף</option>
        <option [value]="row.id" *ngFor="let row of brancesArray">{{row.title}}</option>
      </select>


      <input type="date" class="form-control" [(ngModel)]="info.class_date">
      <button ion-button full class="regButton" (click)="searchClass()" >חיפוש</button>
    </div>  </div>




  <div *ngIf="searchArray.length > 0" class="MT20">

    <div class="mainRow1" *ngFor="let row of searchArray let i=index">
      <div class="rowDiv">
        <div class="Title1">שם התלמיד/ה :  {{row.user_info.student_name}}</div>
        <div class="Title1">מקצוע :  {{row.professions}}</div>
        <div class="Title1">שם השיעור :  {{row.class_title}}</div>
        <div class="Title1">כמות נוכחית :  {{row.signup_count}}</div>
        <div class="Title1">מכסה :  {{row.quan}}</div>
        <div class="Title1">סניף :  {{row.branch}}</div>
        <div class="Date1">
          <button ion-button color="light" style="width: 100%" type="button">
            <div (click)="confirmClass(row,2)" style="margin-left:20px;">
              <ion-icon name="md-close"  [ngClass]="row.confirmed_status == 2 ? 'UnApprovedClass' : ''"></ion-icon>
            </div>

            <div (click)="confirmClass(row,1)" [ngClass]="row.confirmed_status == 1 ? 'ApprovedClass' : ''" >
              <ion-icon name="md-checkmark" ></ion-icon>
            </div>
          </button>
        </div>
      </div>
      <div class="rowDiv" align="center">

        <div  *ngIf="row.paid_count == 0">
          <ion-grid>
          <ion-row justify-content-center>
          <ion-col col-4>
            <button ion-button color="light" style="width: 100%" type="button" (click)="paymentTicket(row)">כרטיסיה</button>
          </ion-col>
            <ion-col col-4>
            <button ion-button color="light" style="width: 100%" type="button" (click)="paymentCash(row)">מזומן</button>
            </ion-col>
              <ion-col col-4>
                <button ion-button color="light" style="width: 100%" type="button" (click)="paymentDebt(row)">חוב</button>
              </ion-col>
          </ion-row>
          </ion-grid>
      </div>


        <div  *ngIf="row.paid_count == 1">
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-12>
                <button ion-button color="secondary" style="width: 100%" type="button" *ngIf="row.paid_method == 0">שולם במזומן</button>
                <button ion-button color="secondary" style="width: 100%" type="button" *ngIf="row.paid_method == 1">שולם בכרטיסיה</button>
                <button ion-button color="secondary" style="width: 100%" type="button" *ngIf="row.paid_method == 2">שולם בחוב</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>


        <div >
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-12>
                <button ion-button color="light" style="width: 100%" [disabled]="!row.paid_count == 0" type="button" *ngIf="row.didnt_show == 0" (click)="didntShowClass(row,0)">לא הגיע</button>
                <button ion-button color="secondary" style="width: 100%" [disabled]="!row.paid_count == 0" type="button" *ngIf="row.didnt_show == 1" (click)="didntShowClass(row,1)">לא הגיע</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>



      </div>
    </div>


  </div>


</ion-content>
